<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest" xmlns:m3="http://schemas.microsoft.com/appx/2014/manifest" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest">
  <Identity Name="7134af5e-9909-4847-ae1a-315ad2414c32" Publisher="CN=Александр" Version="1.0.0.3" />
  <mp:PhoneIdentity PhoneProductId="7134af5e-9909-4847-ae1a-315ad2414c32" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>Windows Mobile Aplication (Signs)</DisplayName>
    <PublisherDisplayName>Alexandr Mikhailik</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.1</OSMinVersion>
    <OSMaxVersionTested>6.3.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="App3.App">
      <m3:VisualElements DisplayName="Автомобильные коды регионов Украины" Square150x150Logo="Assets\Square150x150Logo.png" Square44x44Logo="Assets\Square44x44Logo.png" Description="Узнать откуда то или иное транспортное средство очень просто! Необходимо указать всего две буквы из автомобильного номера - и программа покажет к какому региону относится автомобиль. Программа имеет интуитивно понятный интерфейс и поможет Вам в решении поставленной задачи. На данный момент программа имеет базу данных всех автомобильных кодов регионов Украины, наичная с 2004 года." ForegroundText="light" BackgroundColor="transparent">
        <m3:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" Square71x71Logo="Assets\Square71x71Logo.png">
        </m3:DefaultTile>
        <m3:LockScreen Notification="badge" BadgeLogo="Assets\BadgeLogo.png" />
        <m3:InitialRotationPreference>
          <m3:Rotation Preference="portrait" />
        </m3:InitialRotationPreference>
      </m3:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClientServer" />
  </Capabilities>
</Package>